html {
    background-color: #333;
    color: white;
    text-align: center;
}

#score-display {
    padding: 1rem;
}

#game-board {
  min-width: 560px;
  max-height: 560px;
  border: 1px solid rgb(6, 6, 6);
  margin: 0 auto;
  margin-left: 1rem;
  box-shadow: 1rem 1rem black;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.main-section {
    display: flex;
}

h2 {
    text-align: center;
    margin: .5rem;
}

ul {
    text-align: left;
}

#game-outcome-message {
    padding: 1rem;
}

.game-board-cell {
    width: 25px;
    height: 25px;
    border: rgb(37, 37, 37) solid;
    background-color: rgb(53, 59, 67);
}

.snake {
    background-color: blue;
    border: 0;
}
.head {
    background-color: blue;
    border: 0;
}
.apple {
    background: red;
    border-radius: 20px;
  }

.buttons {
    margin: 1rem;
    padding: 1rem;
}