html {
    background-color: #333;
    color: rgb(235, 232, 232);
    font-family: play;
    letter-spacing: 2px;
    text-align: center;
}
h1 {
    text-shadow: 0 0 5px #0e5822, 5px 5px 2px black;

}

#score-display {
    text-shadow: 0 0 5px #0e5822, 5px 5px 2px black;
    padding: 1rem;
    font-size: 24px;
    text-align: right;
    margin-right: 2rem;
}

#game-board {
  min-width: 560px;
  max-height: 560px;
  border: 1px solid rgb(6, 6, 6);
  margin: 0 auto;
  margin-left: 1rem;
  box-shadow: 1rem 1rem black;
}

.main-section {
    display: flex;
}
 
.instructions {
    width: 200px;
    min-width: 200px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    
}

h2 {
    margin: .5rem;  
    text-shadow: 0 0 5px #0e5822, 5px 5px 2px black;
}

#game-outcome-message {
    text-shadow: 0 0 10px #be0000, 5px 5px 2px black;
    padding: 1rem;
    font-size: 24px;
}

.game-board-cell {
    width: 25px;
    height: 25px;
    border: rgb(37, 37, 37) solid;
    background-color: rgb(53, 59, 67);
}

.snake {
    background-color: green;
    border: 0;
}
.head {
    background-color: green;
    border: 0;
}
.apple {
    background: red;
    border-radius: 20px;
  }

.buttons {
    margin: 1rem;
    padding: 1rem;
}